*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px (10px, the target font size, divided by 16px, the browser default font size)
}

body {
  line-height: 1.5;
  font-family: "Arial MT", sans-serif;
}

.container {
  padding: 1.6rem;
  max-width: 60rem;
  margin: 0 auto;
}