/* Color Palette */
$color-black: #000000;
$color-white: #FFFFFF;
$color-success: #009E2D;
$color-error: #9E0000;

/* Typography */
$font-size-normal: 1.8rem;
$font-size-large: 2.4rem;

/* Effects */
$border-default: 2px solid $color-black;